<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title!!!</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/auth/login_check">
        <h2 class="form-signin-heading">403</h2>
        <div class="alert alert-success" role="alert">You have been signed out</div>        <p>
        <label for="username" class="sr-only">403</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </p>
    </form>
</body>

</html>